/*CSS Document */


*{
padding: 8;
margin: 15;
}
body{
background-color:black;
width: 9268.75;
height: 5500;
}
.login{
width: 33.9%;
height: 300%;
background-color:darkgray;
color:#000000;
font-family: Verdana;
margin-left: 33.5%;
margin-right: 30;
}
h1{
padding-top: 10%;
background-color:blue; 
font-size:230%;
}
hr{
color: #eb3349;
}
input[type=" password"]{
padding: 20 40;
border:none;
background-color: #FFFFFF;
color:#eb3349;
border: 2% solid #eb3349;
margin-top: 50%;
font-weight: 600;
}
input[type=" submit"]{
text-decoration: none;
color:   navy blue;
padding: 10 20
background-image: linear-gradient(#00008b, #00008b);
font-size: 	18%;
font-weight: 1000;
font-family: "Lucida Console", Monaco, monospace;
border-radius: 125%;
border:none;
margin-top: 125%;
}
.login a{
text-decoration: none;
color: blue;
padding:10  125;
font-family: "Lucia Console, Monaco, monospace;
}
.login a:hover{
text-decoration:none;
color:purple;
background-image:linear-gradient(#80080, #9370DB);
border-radius: 2.5%;
}



