.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
    border: 8px solid black;
    color: whitesmoke;
}
.item{
    font-weight: 500;
    font-size:0.8em;
    padding:2% 2%;
    flex-grow: 1;
    font-weight: bolder;
    text-align: center;
    font-family:'Benne', serif;
    color: whitesmoke;
}

a{
    text-decoration: none;
    cursor: pointer;   
}